<html>
<head>
	<title>Chapter {{chapter.num}}: {{chapter.title}}</title>
	<link rel="stylesheet" href="style/main.css" type="text/css" />
</head>
<body>
	<h2>Chapter {{chapter.num}}: {{chapter.title}}</h2>
	{{chapter.contents|safe}}
</body>
</html>
